@import "../../styles/variables";
@import "../../styles/mixins";

.header {
  height: $header-height;
  box-shadow: 0 -6px 8px 4px rgba(0, 0, 0, 0.3);
  background-color: $primaryBgColorSpreadTo;
  z-index: 9999;

  .headerContainer {
    transform: translateY(50%);
    padding: 0 30px;

    .title {
      @include pxToRem(font-size, 20);
      color: white;
    }
  }
}