.tournamentMatch {
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  transition: padding 0.2s linear;
  padding: 0.5em 1.5em;
  width: 100%;
}

.finalCard {
  margin-right: 1.5em;
}

.connectorLeft {
  &::before {
    content: "";
    position: absolute;
    left: -5px;
    background: #9e9e9e;
    height: 2px;
    width: 1.8em;
  }
}

.connectorRight {
  &::after {
    transition: width 0.2s linear;
    position: absolute;
    right: -36px;
    content: '';
    display: block;
    height: 50%;
    border-right: 2px solid #9e9e9e;
    width: 1.5em;
  }

  &:nth-child(odd),
  &:nth-child(even) {
    margin: 0;
  }

  &:nth-child(odd)::after {
    top: 50%;
    border-top: 2px solid #9e9e9e;
    transform: translateY(-1px);
  }

  &:nth-child(even)::after {
    bottom: 50%;
    border-bottom: 2px solid #9e9e9e;
    transform: translateY(1px);
  }
}

.tournamentMatchContainer {
  background-color: #ffffff;
  padding: 1em;
  border: 1px solid transparent;
  border-radius: 0.1em;
  box-shadow: 0 2px 0 0 #e5e5e5;
  outline: none;
  cursor: pointer;
  transition: padding 0.2s ease-in-out, border 0.2s linear;
  display: flex;
  width: 100%;
  margin: 0;

  &:focus {
    border-color: #2196F3;
  }

  &::before,
  &::after {
    transition: all 0.2s linear;
  }

  > div {
    width: 100%;
  }

  .matchTitle {
    text-align: center;
    color: #3a3a3a;
    font-weight: bold;
  }

  .matchup {
    padding: 15px 5px 10px 5px;
    text-align: center;
    display: flex;
    justify-content: space-around;

    > span:nth-child(2) {
      color: #6a6a6a6a;
    }

    .winner {
      color: green;
      font-weight: 500;
      position: relative;

      &:after {
        content: "Winner";
        position: absolute;
        left: 0;
        margin-top: 3px;
        font-size: 10px;
        background-color: green;
        color: white;
        padding: 2px 10px;
        border-radius: 3px;
      }
    }
  }

  .indicator {
    text-align: right;
    padding: 15px 0 0;
    font-size: 14px;
    font-style: italic;

    .dot {
      height: 10px;
      width: 10px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }

    .dotGreen {
      background-color: green;
    }

    .dotRed {
      background-color: red;
    }
  }
}